body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: url('./assets/background.jpg') no-repeat center center fixed;
  background-size: cover;
}

.table {
  background-color: rgba(255, 255, 255, 0.527);
  border: solid 3px white;
  border-radius: 20px;
  backdrop-filter: blur (10px);
  padding: 20px;

}

.localbox{
  color: brown;
}

input[type="text"],
select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

input[type="submit"] {
  padding: 10px 20px;
  background-color: brown;
  color: white;
  border: none;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

input[type="submit"]:hover {
  background-color: rgba(255, 255, 255, 0.527);
  color: brown;
  border: 1px solid brown;
}

.data-table {
  width: 100%;
  border-collapse: collapse;
}

.data-table th,
.data-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.data-table th {
  background-color: #007bff;
  color: white;
}

.data-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.btn-delete {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 6px 10px;
}