

body {
    font-family: sans-serif;
    /* background: transparent; */
}

.navbar-brand img {
    max-width: 150px;
    height: auto;
}
.navbar{
    background-color: #FFFAED;
}

.headerImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 65%;
    height: 100%;
    text-align: center;
    z-index: -1;
}

.headerImage img {
    max-width: 235px;
}

.nav-link,
.dropdown-toggle {
    font-size: 18px !important;
    margin-left: 30px;
    color: black !important;
    letter-spacing: 1.4px !important;
    font-weight: 600 !important;
    text-transform: uppercase;
    position: relative;
    display: block;
    transition: 0.5s !important;
}

.navbar-nav .dropdown {
    transition: 0.5s !important;
}

.navbar-nav .dropdown .dropdown-menu {
    background-color: #fbb200;
    border: none;
    border-radius: 10px;
    padding-right: 30px;

}

.dropdown-menu .dropdown-item {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
    color: white;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin-left: 10px;
    transition: 0.5s;

}

.dropdown-menu .dropdown-item:hover {
    background-color: transparent !important;
    color: red !important;
}
.navbar-nav .dropdown{
    transition: 0.5s;
}
.navbar-nav .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 5px;
}

.navbar-nav .dropdown-menu {
    margin-top: 0;
    border-radius: 0;
}

.home {
    color: red !important;
    border-bottom: 2px solid red !important;
}


.contact:hover {
    color: red !important;
    border-bottom: 2px solid red !important;
}

.no-caret .dropdown-toggle::after {
    display: none !important;
}

.active-dropdown>.nav-link {
    border-bottom: 2px solid red !important;
    color: red !important;
}
